@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#contacto header .btn, #inicio header .btn, #sobre-mi header .btn {
    color: #ffffff;
    background-color: #E20000;
    border: 0;
    
    font-weight: 200;
    text-decoration: none;
}

#contacto header .btn:hover, #inicio header .btn:hover, #sobre-mi header .btn:hover {
    color: #ffffff;
    background-color: #370a6d;
    border: 0;
    
    font-weight: 200;
    text-decoration: none;
}

#proyectos header .btn {
    color: #E20000;
    background-color: #ffffff;
    border: 0;
    
    font-weight: 200;
    text-decoration: none;
}

#proyectos header .btn:hover {
    color: #ffffff;
    background-color: #370a6d;
    border: 0;
    
    font-weight: 200;
    text-decoration: none;
}

.btn-blanco {
    color: #370a6d;
    background-color: #ffffff;
    border: none;
}

.btn-blanco:hover {
    color: #ffffff;
    background-color: #370a6d;

    text-decoration: none;
}

nav .nav-link {
    color: #282828;
}

nav .active {
    border: 1px #E20000 solid;
    border-radius: 20px ;
}

h1 {
    color: #E20000;
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 14px;
    color: #6A6A6A;
}

p {
    color: #6a6a6a;
}

input, textarea, .btn {
    border-radius: 15px !important;
  }

textarea {
    height: 150px;
}

#contacto, #inicio {
    background-image: url("../images/fondo-contacto.png");
    background-size: cover;
    background-repeat: no-repeat
}

#proyectos {
    background-image: url("../images/fondo-proyectos.png");
    background-size: cover;
    background-repeat: no-repeat
}

#inicio p {
    border: 2px solid #ffffff;
    border-radius: 20px;

    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
}

#inicio img{
    height: 400px;
}

#inicio img:hover{
    height: 410px;
}

#stack {
    color: #ffffff;
    background-color: #E20000;
}

#experiencia {
    color: #370A6D;
}

#formacion {
    color: #E20000;
}

#formacion a {
    color: #6a6a6a;
}

#formacion a:hover {
    color: #6a6a6a;
}

#adicionales {
    background-color: #eeeeee;
}

#adicionales h2 {
    font-size: 16px;
    color: #212529;
}

#adicionales .caja {
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    height: 182px;

}

#adicionales .icon {
    font-size: 80px;
    color: #ffffff;
    background-color: #370A6D;
    border-radius: 20px;
    height: 182px;
}

#adicionales ul {
    list-style-type: none;
    font-size: 14px;
    color: #282828;
    padding: 0;
}

.background-degradado {
    background: rgb(239,47,22);
    background: -moz-linear-gradient(90deg, rgba(239,47,22,1) 0%, rgba(188,39,19,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(239,47,22,1) 0%, rgba(188,39,19,1) 100%);
    background: linear-gradient(90deg, rgba(239,47,22,1) 0%, rgba(188,39,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef2f16",endColorstr="#bc2713",GradientType=1); 
}

.footbln {
    color: #ffffff;
}

.foto img {
    height: 250px;
    border-radius: 50%;
}

.cohete {
    height: 410px;
}

.proyecto {
    background-color: #ffffff;
}

.proyecto h2 {
    font-size: 16px;
    color: #ffffff;
    padding: 16px;
}

.proyecto img {
    height: 200px;
}

.proyecto p {
    font-size: 14px;
    height: 130px;
}

.tecnostack {
    background-color: #ffffff;
    border-radius: 10px;
    height: 182px;
}

.tecnostack h3 {
    font-size: 14px;
    font-weight: 300px;
    color: #282828;
}

.tecnostack img {
    width: 40%;
}

.gris {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.gris:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.link-rojo {
    color: #E20000;
    text-decoration: none;
    display: inline-block;
}

.link-rojo:hover {
    color: #E20000;
    text-decoration: none;
}

.footbln a {
    color: #ffffff;
    font-weight: 200;
}

.footbln .fa-github{
    font-size: 30px;
    color: #ffffff;
}

.footbln .fa-linkedin-in{
    color: #ff4a49;
    background-color: #ffffff;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

.footrojo {
    color: #E20000;
}

.footrojo a {
    color: #E20000;
    font-weight: 200;
}

.footrojo .fa-github{
    font-size: 30px;
    color: #E20000;
}

.footrojo .fa-linkedin-in{
    color: #ffffff;
    background-color: #E20000;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

.btn-whatsapp{
    background-color: #370a6d;
    width: 60px;
    border-radius: 15% 15% 0 0;
    
    font-size: 30px;
    text-align: center;

    position: fixed;
    right: 6%;
    bottom: 0%;
}

.btn-rojo{
    color: #ffffff;
    background-color: #E20000;
    border: 0px;
    border-radius: 15px;
    padding: 8px 10px 8px 10px;
    
    font-weight: 100;
    text-decoration: none;
}

.btn-rojo:hover{
    background-color: #370a6d;
    color: #ffffff;
    text-decoration: none;
}

.btn-whatsapp a {
    color: #ffffff;
}

.btn-whatsapp a:hover{
    color: #ffffff;
}

@media (max-width: 750px){
    #contacto {
        background-image: url(../images/fondo-proyectos.png);
        background-size: contain;
    }

    #proyectos {
        background-size: contain;
    }

    #contacto footer {
        color: #E20000;
    }
    
    #contacto footer a {
        color: #E20000;
        font-weight: 200;
    }
    
    #contacto footer .fa-github{
        font-size: 30px;
        color: #E20000;
    }
    
    #contacto footer .fa-linkedin-in{
        color: #ffffff;
        background-color: #E20000;
        font-size: 20px;
        border: 0px;
        height: 32px;
        width: 32px;
        text-align: center;
        padding: 8px 0 0 0;
        border-radius: 80px;
        margin: 0 8px;
    }

    #contacto .btn-whatsapp a {
        color: #ffffff;
    }
    
    #contacto .btn-whatsapp a:hover{
        color: #ffffff;
    }

    #proyectos .btn-blanco{
        color: #E20000;
        background-color: #ffffff;
        
        font-weight: 200;
    }

    #inicio p {
        border: 2px solid #E20000;;
        border-radius: 20px;

        color: #E20000;;
        font-size: 17px;
        font-family: 600;
    }
}